.action-list-item
	background-color: #393940
	margin: .75rem
	padding: 1rem
	border-radius: 5px

	display: flex
	align-items: center

	width: 166px
	box-sizing: border-box

	cursor: pointer

	p
		color: #fff
		margin: 0
		margin-left: 1rem

	svg
		width: 32px
		height: 32px