.set
	width: 364px
	box-sizing: border-box

	background-color: #393940
	color: #CBD1DC
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1)

	border-radius: 0.5rem
	margin: 1rem

	overflow: hidden

	.content
		display: flex
		align-items: center
		justify-content: center
		cursor: pointer

		.inner
			display: flex
			align-items: center
			justify-content: space-between

			width: 100%
			padding: 2rem

			.name
				font-size: 1.5rem
				margin: 0
				user-select: none

		.left-icon
			position: absolute
			top: 0
			left: -5rem
			display: flex
			align-items: center
			justify-content: center
			width: 5rem
			height: 100%

		.right-icon
			position: absolute
			top: 0
			right: -5rem
			display: flex
			align-items: center
			justify-content: center
			width: 5rem
			height: 100%